**Data Mining Project, midterm 2021/2022**

**Authors:** Niko Dalla Noce, Alessandro Ristori, Giuseppe Lombardi

#**Task 1: Data Understanding and Data Preparation**

##**Task 1.1 Data Understanding**

**Importing libraries and extracting datasets**

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import scipy

import zipfile
with zipfile.ZipFile("prj_data.zip", 'r') as zip_ref:
     zip_ref.extractall()

**Load the datasets**

Read the data from the three csv files, each one is assigned to a different dataframe for now.

In [2]:
df_male = pd.read_csv("male_players.csv", sep=",")  # dataframe of male players
df_female = pd.read_csv("female_players.csv", sep=",")  # dataframe of female players
df_matches = pd.read_csv("tennis_matches.csv", sep=",")  # matches dataframe

I dataframe dei giocatori contengono solamente nome e cognome dei giocatori (la grande maggioranza sono ormai ritirati dalle competizioni e non sono presenti in alcun record del dataframe dei match. Per questo abbiamo deciso di effetturare principlamente il nostro lavoro sul dataframe dei match.

In [3]:
df_matches.head()

   Unnamed: 0 tourney_id  ... tourney_spectators tourney_revenue
0           0  2019-M020  ...             3928.0       742618.69
1           1  2019-M020  ...             3928.0       742618.69
2           2  2019-M020  ...             3928.0       742618.69
3           3  2019-M020  ...             3928.0       742618.69
4           4  2019-M020  ...             3928.0       742618.69

[5 rows x 50 columns]

In [4]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186128 entries, 0 to 186127
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          186128 non-null  int64
 1   tourney_id          186073 non-null  object
 2   tourney_name        186103 non-null  object
 3   surface             185940 non-null  object
 4   draw_size           186099 non-null  float64
 5   tourney_level       186099 non-null  object
 6   tourney_date        186100 non-null  float64
 7   match_num           186101 non-null  float64
 8   winner_id           186073 non-null  float64
 9   winner_entry        25827 non-null   object
 10  winner_name         186101 non-null  object
 11  winner_hand         186082 non-null  object
 12  winner_ht           49341 non-null   float64
 13  winner_ioc          186099 non-null  object
 14  winner_age          183275 non-null  float64
 15  loser_id            186100 non-null  float64
 16  loser_entry         44154 non-null   object
 17  loser_name          186097 non-null  object
 18  loser_hand          186030 non-null  object
 19  loser_ht            38348 non-null   float64
 20  loser_ioc           186102 non-null  object
 21  loser_age           179590 non-null  float64
 22  score               185929 non-null  object
 23  best_of             186099 non-null  float64
 24  round               186098 non-null  object
 25  minutes             81660 non-null   float64
 26  w_ace               82310 non-null   float64
 27  w_df                82312 non-null   float64
 28  w_svpt              82310 non-null   float64
 29  w_1stIn             82310 non-null   float64
 30  w_1stWon            82312 non-null   float64
 31  w_2ndWon            82309 non-null   float64
 32  w_SvGms             82311 non-null   float64
 33  w_bpSaved           82315 non-null   float64
 34  w_bpFaced           82312 non-null   float64
 35  l_ace               82313 non-null   float64
 36  l_df                82319 non-null   float64
 37  l_svpt              82315 non-null   float64
 38  l_1stIn             82304 non-null   float64
 39  l_1stWon            82311 non-null   float64
 40  l_2ndWon            82312 non-null   float64
 41  l_SvGms             82318 non-null   float64
 42  l_bpSaved           82311 non-null   float64
 43  l_bpFaced           82306 non-null   float64
 44  winner_rank         166719 non-null  float64
 45  winner_rank_points  166701 non-null  float64
 46  loser_rank          150845 non-null  float64
 47  loser_rank_points   150828 non-null  float64
 48  tourney_spectators  186101 non-null  float64
 49  tourney_revenue     186102 non-null  float64
dtypes: float64(35), int64(1), object(14)
memory usage: 71.0+ MB

**First issue:** dobbiamo eliminare quei record di cui non possiamo sapere né chi sia il vincitore né chi sia il perdente.

In [5]:
# df_matches[["draw_size", "match_num", "winner_id", "winner_ht", "winner_age", "loser_id", "loser_ht", "loser_age"]].isnull().any()
len_df_matches_previous = len(df_matches)
df_matches = df_matches.dropna(subset=["winner_name", "loser_name", "winner_id", "loser_id"], how="all")
print("{0} records from the matches dataframe were dropped since we coulnd't find any winner or loser".format(len_df_matches_previous-len(df_matches)))

5 records from the matches dataframe were dropped since we coulnd't find any winner or loser

#**Questa parte è data preparation** Now let's create a new dataset for the players

In [6]:
players_w = df_matches[["winner_name"]].rename(columns={"winner_name":"Name"})  # player names extracted from the winners
players_l = df_matches[["loser_name"]].rename(columns={"loser_name":"Name"})  # player names extracted from the losers

# first we append the losers list to the winners one
df_players = players_w.append(players_l)

# the redundant records are dropped and a new dataframe is built from the list of players
df_players = df_players["Name"].unique()
df_players = pd.DataFrame(df_players, columns=["Name"])
print("{0}\n".format(df_players.info()))
print(df_players.isnull().any())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10105 entries, 0 to 10104
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10104 non-null  object
dtypes: object(1)
memory usage: 79.1+ KB
None

Name    True
dtype: bool

There's only one record with no value, let's drop it.

In [7]:
df_players = df_players.dropna()
df_players.isnull().any()

Name    False
dtype: bool

The new dataframe has only one attribute, as the head() method shows.

In [8]:
df_players.head()

                 Name
0       Kei Nishikori
1     Daniil Medvedev
2  Jo-Wilfried Tsonga
3       Jeremy Chardy
4      Alex De Minaur

Now, we need to know if a player is male or female, that's when df_male and df_female come to help us.

In [9]:
def players_from_sex(df_players_sex, df_players_matches):
  """
  Obtain the players of a specific sex given a dataset of that sex
  :param df_players_sex: players dataframe (M or F) from where we obtain the sex
  :param df_players_matches: players dataframe built from the matches
  :return players: list of players (M or F)
  :return index: players indexes (M or F)
  """
  players_name = list(df_players_sex["name"])
  players_surname = list(df_players_sex["surname"])
    
  #lista di players nome e cognome da df_players
  players = list()
  for n, s in zip(players_name, players_surname):
    players.append("{0} {1}".format(n, s))

  players = df_players_matches[df_players_matches["Name"].isin(players)]

  players_indexes = players.index

  return list(players["Name"]), players_indexes

In [10]:
[players_m, i_male_found] = players_from_sex(df_male, df_players)
[players_f, i_female_found] = players_from_sex(df_female, df_players)

# players for which we have found the sex
players_sex_found = players_m+players_f

# players that belong to both datasets
players_both_sex = list(set(players_m) & set(players_f))
print("Players found in both datasets (male and female):\n{0}\n".format(players_both_sex))

# players with no sex
players_sex_not_found = df_players[~df_players["Name"].isin(players_sex_found)]

# some stats about what we found
print("Number of male players: {0}".format(len(players_m)))
print("Number of female players: {0}".format(len(players_f)))
print("Number of players: {0}".format(len(df_players)))
print("Number of players with no sex known: {0}\n".format(len(players_sex_not_found)))
players_sex_not_found

Players found in both datasets (male and female):
['Yi Liu', 'Di Zhao', 'Yang Liu', 'Austin Smith', 'Kuan Yi Lee', 'Ziyu Zhang']

Number of male players: 3018
Number of female players: 7062
Number of players: 10104
Number of players with no sex known: 30

                              Name
2               Jo-Wilfried Tsonga
31                  Cristian Garin
53                   Stan Wawrinka
86                   Antoine Hoang
95                    Taylor Fritz
104             Mackenzie McDonald
110              Diego Schwartzman
136                 Frances Tiafoe
204                 Pedro Martinez
230                   Lloyd Harris
319                  Franko Skugor
331          Juan Martin del Potro
371                      J.J. Wolf
399             Daniel Elahi Galan
532                   Joao Menezes
568                Jurabek Karimov
577            Juan Pablo Varillas
587                    Holger Rune
714               Khumoun Sultanov
776                Evgenii Tiurnev
1272                  Alona Fomina
2028        Zeynep  Sena Sarioglan
2181         Christopher O'Connell
2188                     Sam Groth
2735       Daniel Munoz de la Nava
2777       Botic van de Zandschulp
2974               Alexandar Lazov
3116                  David O'Hare
3354                    Ben Patael
3893  Andres Artunedo Martinavarro

All of the players with no known sex are in one of the datasets (male or female) but their name is written differently (e.g.: uppercase in matches but undercase in males), so we need to assign them a sex by looking at the tournaments they took part.

In [11]:
# let's insert a new attribute (sex) and assign the right values
df_players.loc[i_male_found, 'Sex'] = 'M'
df_players.loc[i_female_found, 'Sex'] = 'F'
df_players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10104 entries, 0 to 10104
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10104 non-null  object
 1   Sex     10074 non-null  object
dtypes: object(2)
memory usage: 556.8+ KB

To obtain the sex of those players with no known sex we can take a look at the tournaments' levels they took part in, since there's only one type that is shared by both sexes.

In [14]:
# tournament levels for each sex
male_t = {'M', 'G', 'C', 'A', 'S', 'F'}
female_t = {'P', 'PM', 'I', 'T1', '15', '25', '60', '100', '80', '10', '50', '75'}

players_sex_not_found_i = players_sex_not_found.index
for player, i in zip(players_sex_not_found["Name"], players_sex_not_found_i):
  player_matches_info = df_matches[df_matches['loser_name']==player]
  player_t_levels = set(player_matches_info["tourney_level"].dropna())
  if len(player_t_levels.intersection(male_t)) > 0:
    sex = "M"
  else:
    if len(player_t_levels.intersection(female_t)) > 0:
      sex = "F"
    else:
      sex = "Not known"
  
  df_players.loc[i, "Sex"] = sex
  print("{0} {1}".format(player, sex))

Jo-Wilfried Tsonga M
Cristian Garin M
Stan Wawrinka M
Antoine Hoang M
Taylor Fritz M
Mackenzie McDonald M
Diego Schwartzman M
Frances Tiafoe M
Pedro Martinez M
Lloyd Harris M
Franko Skugor M
Juan Martin del Potro M
J.J. Wolf M
Daniel Elahi Galan M
Joao Menezes M
Jurabek Karimov M
Juan Pablo Varillas M
Holger Rune M
Khumoun Sultanov M
Evgenii Tiurnev M
Alona Fomina F
Zeynep  Sena Sarioglan F
Christopher O'Connell M
Sam Groth M
Daniel Munoz de la Nava M
Botic van de Zandschulp M
Alexandar Lazov M
David O'Hare M
Ben Patael M
Andres Artunedo Martinavarro M

Now there are no more missing values for the sex attribute and each player is either M or F.

In [15]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10104 entries, 0 to 10104
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10104 non-null  object
 1   Sex     10104 non-null  object
dtypes: object(2)
memory usage: 556.8+ KB

We still need to work on those players who appear in both the male and female datasets.

In [22]:
players_both_sex = df_players[df_players["Name"].isin(players_both_sex)]
players_both_sex_i = players_both_sex.index
players_both_sex

              Name Sex
1166       Di Zhao   F
2891  Austin Smith   F
3178   Kuan Yi Lee   F
4096        Yi Liu   F
4669    Ziyu Zhang   F
7811      Yang Liu   F

**Non funziona**

In [23]:
players_both_sex = df_players[df_players["Name"].isin(players_both_sex)]
players_both_sex_i = players_both_sex.index
for player, i in zip(players_both_sex["Name"], players_both_sex_i):
  player_matches_info = df_matches[df_matches['loser_name']==player]
  player_t_levels = set(player_matches_info["tourney_level"].dropna())
  if len(player_t_levels.intersection(male_t)) > 0 & len(player_t_levels.intersection(female_t)) == 0:
    sex = "M"
    players_m.remove(player)
  else:
    if len(player_t_levels.intersection(female_t)) > 0 & len(player_t_levels.intersection(male_t)):
      sex = "F"
      players_f.remove(player)
    else:
      sex = "Not known"
  
  df_players.loc[i, "Sex"] = sex
  print("{0} {1}".format(player, sex))
print(len(players_f))

7062

#**Cambiare tutto da qui in poi**

Let's take a look to the players dataframes by calling the head() method, which shows the first five lines of the dataframes.

In [10]:
df_male.head()

             name   surname
0         Gardnar    Mulloy
1          Pancho    Segura
2           Frank   Sedgman
3        Giuseppe     Merlo
4  Richard Pancho  Gonzales

In [11]:
df_female.head()

      name surname
0    Bobby   Riggs
1        X       X
2  Martina  Hingis
3  Mirjana   Lucic
4  Justine   Henin

Let's now use the info() method to obtain information on the two player datasets.

In [12]:
print("Male players dataframe info")
df_male.info()
print("\nFemale players dataframe info")
df_female.info()

Male players dataframe info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55208 entries, 0 to 55207
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     55031 non-null  object
 1   surname  55166 non-null  object
dtypes: object(2)
memory usage: 862.8+ KB

Female players dataframe info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46172 entries, 0 to 46171
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     44505 non-null  object
 1   surname  46172 non-null  object
dtypes: object(2)
memory usage: 721.6+ KB

As we can see from the previous infos, there are null values both in the male and female dataset.

In [13]:
print("Male players dataframe null values:\n{0}".format(df_male.isnull().any()))
print("\nFemale players dataframe null values:\n{0}".format(df_female.isnull().any()))

Male players dataframe null values:
name       True
surname    True
dtype: bool

Female players dataframe null values:
name        True
surname    False
dtype: bool

We need to drop such elements with null values.

In [14]:
df_male = df_male.dropna()
df_female = df_female.dropna()
print("Male players dataframe info:")
df_male.info()
print("\nFemale players dataframe info:")
df_female.info()

Male players dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 55031 entries, 0 to 55207
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     55031 non-null  object
 1   surname  55031 non-null  object
dtypes: object(2)
memory usage: 1.3+ MB

Female players dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 44505 entries, 0 to 46171
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     44505 non-null  object
 1   surname  44505 non-null  object
dtypes: object(2)
memory usage: 1.0+ MB

There could be duplicates in the same dataset, but we know that there's a possibility that two players could share the same name and surname, so we won't change anything.

But, there are elements where the values are missing, or incomplete, but not null (look at df_female.head()), we need to remove such elements.

In [15]:
elements_not_to_keep = ["Unknown", "??"]
df_male = df_male[df_male["name"].str.len()>1]
df_male = df_male[df_male["surname"].str.len()>1]
df_male = df_male[~df_male["name"].isin(elements_not_to_keep)]
df_male = df_male[~df_male["surname"].isin(elements_not_to_keep)]
df_male.info()
# df_male[df_male["name"].isin(["??"])]
# df_male.where(df_male.name.str.len()==1)
# Ci sono altri elementi che non sono compatibili, andrebbero visti a mano

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53965 entries, 0 to 55207
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     53965 non-null  object
 1   surname  53965 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB